/*-- -------------------------- -->
<---           Login            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .login .card {
    display: grid;
    width: 18.75em;
  }
  .login .input-group {
    display: grid;
    margin-bottom: 0.625em;
  }
  .login .input-group input {
    width: 100%;
    height: 2em;
    background: #f2f2f2;
    padding: 0.375em 0.75em;
  }
  .login .input-group:first-child {
    margin-top: 0.625em;
  }
  .login .button-solid {
    width: 100%;
    padding: 0px;
    line-height: 1.78571429em;
    height: 1.78571429em;
  }
  .login h2 {
    color: #fff;
  }
  .login label {
    color: #fff;
  }
}
/* Mobile Landscape */
/* Tablet */
/* Small Desktop */
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #form {
    font-size: inherit;
  }
}
/* Dark Mode */
